 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><b style="color:#7FFFD4">future shadez</b> is a digital art initiative by Khidir Osman, leveraging AI technology to generate images of a pop-tinted future.</p>
                </div>
                <div class="col-lg-4">
                    <p>Series 1 has launched and will feature just 100 completely unique images. All Shadez owners will be airdropped a random mint from the upcoming Series 2!</p><p>Come join the #shadezgang!</p>
                </div>
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://opensea.io/collection/futureshadez" class="btn btn-lg btn-outline">
                        <i class="fa fa-shopping-cart"></i> Buy
                    </a>
                </div>
            </div>
        </div>
    </section>
